.main-project-card-div {
  display: grid;
  width: 95%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
  box-shadow: 1px 1px 5px black;
  transition: 0.5s ease;
}
.main-project-card-div:hover {
  transform: translateY(-10px);
  transition: 0.5s ease;
}
.main-project-img {
  width: 100%;
  height: 100%;
  height: 45vh;

  object-fit: cover;
  grid-row: 1/7;
  grid-column: 1/2;
}
.main-project-link {

  justify-self: center;
  z-index: 3;
  text-decoration: none;
  align-self: center;
}
.hidden {
  display: none !important;
}
.buttondiv-nohover{
  grid-row: 5/7;
  grid-column: 1/2;
  display: grid;
  margin: 1em;
  justify-self: center;
  z-index: 3;
  border: 2px solid var(--highlight-main);

}
.buttondiv-hover {
  grid-row: 5/7;
  grid-column: 1/2;
  display: grid;
  margin: 1em;
  justify-self: center;
  z-index: 3;
  border: 2px solid var(--highlight-main);
}
.main-link-button-nohover {
  border: none;
  justify-self: center;
  font-size: 1em;
  background: var(--highlight-main);
  color: white;
  cursor: pointer;
  transition: 0.4s ease;
  text-decoration: none;
  justify-self: center;
  padding: 0 0.5rem;

}
.main-link-button-hover {
  border: none;
  font-size: 1em;
  background: var(--highlight-main);
  color: white;
  text-decoration: none;
  box-shadow: 1px 1px 3px black;
  cursor: pointer;
  transition: 0.4s ease;
  justify-self: center;
  transform: translateX(-6px) translateY(-6px);
  padding: 0 0.5rem;
}
.main-link-button-hover:hover {
  background: var(--highlight-main2);
  color: #def2f1;
  transition: 0.4s ease;
}

.project-description-div-in {
  grid-row: 1/7;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  animation-name: overlay-in;
  animation-duration: 0.3s;
  transition: 0.3s ease;
}
.project-description-div-out {
  grid-row: 1/7;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  animation-name: overlay-out;
  animation-duration: 0.5s;
}
@keyframes overlay-in {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes overlay-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.3);
  }
}
.main-project-description {
  color: #def2f1;
  z-index: 2;
  font-size: 1.3em;
  grid-row: 1/5;
  grid-column: 1/2;
  padding: 0.5em;
}
.main-project-overlay {
  background: #17252a;
  grid-row: 1/7;
  grid-column: 1/2;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
