.markdown-container{
    display: grid;
    padding: 1rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 97%;
    grid-gap: 0 1em;
}
.markdown-editor-box {
    display: grid;
    grid-template-rows: min-content auto;
    grid-column: 1/2;
    grid-row: 1/3;
    background: #DEF2F1;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    max-width: 95vw;
}
.markdown-editor-box-expanded {
    display: grid;
    grid-template-rows: min-content auto;
    grid-column: 1/3;
    grid-row: 1/3;
    background: #DEF2F1;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    z-index: 5;
    margin: 0;
    padding: 0;
}
.markdown-title {
    justify-self: center;

}
.markdown-editor {
    justify-self: center;
    width: 98%;
    height: 98%;
    border: none;
    border-radius: 5px;
    overflow: scroll;
    resize: none;
    align-self: top;
}
.markdown-editor-expanded {
    justify-self: center;
    align-self: top;
    width: 99%;
    height: 98%;
    border: none;
    border-radius: 5px;
}
#markdown-editor-toolbar {
    width: 100%;
    height:3rem;
    grid-row: 1/2;
    background: #195552;
    border-radius: 5px 5px 0 0;
    display: grid;
    grid-template-columns: auto auto;
}


.markdown-instructions {
    grid-column: 1/2;
    grid-row: 2/3;
    background: #DEF2F1;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(12, auto);
}




.markdown-output-box {
    
    width: 100%;
    min-height: 50vh;
    background: #DEF2F1;
    justify-self: center;
    grid-column: 2/3;
    grid-row: 1/3;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 3em auto;
}
.markdown-output-box-expanded {
    width: 100%;

    min-height: 50vh;
    background: #DEF2F1;
    justify-self: center;
    grid-column: 1/3;
    grid-row: 1/3;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 3em auto;
    z-index: 5
}
#markdown-output-toolbar {
    width: 100%;
    height:3rem;
    grid-row: 1/2;
    background: #195552;
    border-radius: 5px 5px 0 0;
    display: grid;
    grid-template-columns: auto auto;
}
.markdown-output {
    margin: 1em;
    width: 45w;
    overflow: scroll;
}




.markdownbutton {
    justify-self: right;
    font-size: 2em;
    align-self: center;
    width: 5rem;
    height: 2.5rem;
    border: none;
    background: #195552;
    margin-right: 1rem;
    color: #eaf8f8;
    text-shadow: 1px 1px 1px black; 
}
.markdownbutton:hover {
    background: #154643;
}
.markdown-toolbar-text {
    margin: 0;
    justify-self: left;
    align-self: center;
    padding-left: 1em;
    color: #dde9e9;
    text-shadow: 1px 1px 1px black;
}

code {
    color: rgb(0, 0, 0)  !important;
    background-color: #c2c2c2 
}
pre {
    background-color: #c2c2c2  !important
}

@media only screen and (max-width: 768px) {
    .markdown-container {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        padding: 0;
    }
    .markdown-editor-box {
        grid-row: 1/2;
        grid-column: 1/3;
        max-width: 100%;
        height: 50vh;
        margin: 1em 0;
        padding: 0; 
    }
    .markdown-output-box {
        grid-row: 2/3;
        grid-column: 1/3;
        max-width: 100%;
        width: 100vw;
        margin: 1em 0;
        padding: 0;
        min-height: 80vh;
        max-height: 150vh;
        overflow: scroll;
    }
    .markdown-output-box-expanded {
        width: 100vw;
    }
}