#about-container {
  display: grid;
  max-width: 100%;
  font-family: "Karla", sans-serif;
  background: #2b7a78;
  background-color: #000000;
  background-image: url("../mainbg.svg");
  background-attachment: fixed;
  background-size: cover;
}
#about-me-div {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  max-width: 95%;
  justify-self: center;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
}
#about-me-img {
  height: 38vw;
  width: 38vw;
  border-radius: 50%;
  object-fit: cover;
  grid-column: 1/6;
  grid-row: 1/10;
  align-self: center;
}
#about-me-text-div {
  border: gray solid 1px;
  box-shadow: 0px 1px 3px black;
  background: rgba(185, 176, 176, 0.281);
  grid-column: 2/11;
  grid-row: 2/9;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
}

#about-story-div {
  width: 100%;
  justify-self: end;
  grid-column: 6/13;
  grid-row: 1/10;
  align-self: center;
}

#about-story-text-div {
  display: grid;
  justify-content: right;
}
.about-story-text {
  color: var(--secondary-light);
  text-shadow: 1px 1px 3px black;
  font-size: 1.9em;
  justify-self: left;
}
.about-story-p {
  font-size: 1.3em;
  padding: 0;
  justify-self: right;
}

@media only screen and (max-width: 768px) {
  #about-me-div {
    width: 100%;
    grid-gap: 0;
    box-shadow: none;
    margin: 1rem 0;
  }
  #about-me-img {
    grid-column: 1/13;
    grid-row: 1/4;
    width: 19rem;
    height: 19rem;
    justify-self: center;
    margin: 0;
  }
  #about-me-link {
    width: 80%;
  }
  #about-story-div {
    grid-column: 1/13;
    grid-row: 4/11;
  }
  #about-me-link-button {
    width: 100%;
    padding: 1em;
    font-size: 3vh;
  }
  .about-me-text {
    font-size: 1.4em;
    text-shadow: 1px 1px 2px gray;
  }
  #about-me-headline {
    font-size: 1.6em;
  }
}

/* ########### ABOUT ME SKILLS ########### */

#about-skills-div {
  height: auto;
  display: grid;
  background: var(--main-3);
  width: 90%;
  border-radius: 5px;
  justify-self: center;
  box-shadow: 0 0 5px #252525;
  margin: 2em 0;
}
#languages-div {
  display: grid;
  justify-self: center;
  grid-template-rows: min-content min-content;
  width: 80%;
}
.languages-headline {
  justify-self: center;
  color: var(--highlight-main);
  text-shadow: 1px 1px 3px #17252a;
}
.languages-headline-div {
  justify-self: center;
  margin: 2em 1em;
  height: fit-content;
}
.skills-headline {
  color: var(--highlight-main);
}
.skills-headline-div {
  justify-self: center;
  margin: 2em 1em;
  height: fit-content;
  flex: 0 1 200px;
  display: grid;
  justify-content: left;
}
#lists-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skills-list {
  list-style: none;
  color: var(--secondary-light);
  font-size: 1.3em;
  justify-self: left;
  padding: 0;
}
.skills-list > li {
  margin: 1em;
}

#projects-button-div {
  border: 2px solid var(--highlight-main);
  width: 33%;
  height: 15vh;
  justify-self: center;
  display: grid;
  margin: 1rem 0;
}
#projects-button {
  justify-self: center;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  display: grid;
  text-decoration: none;
  justify-items: center;
  cursor: pointer;
}

#projects-button-text {
  justify-self: center;
  color: aliceblue;
  text-shadow: 1px 1px black;
  align-self: center;
  border: none;
  font-size: 1.3em;
  transition: 0.5s ease;
}
#projects-button:hover {
  background: var(--highlight-main);
  margin: 0;
  transition: 0.5s ease;
  transform: translateX(-5px) translateY(-5px);
}

/* ################# LANGAUGE CARD #################### */
.language-card {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  flex: 0 1 150px; /*  No stretching: */
  color: var(--secondary-light);
  margin-top: 1em;
}

#languages-list {
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  padding: 0;
}
.languages-list-item {
  flex: 0 1 150px;
  padding: 0 1em;
}

.language-card-title {
  font-size: 4em;
  grid-row: 1/2;
  margin: 0;
  padding: 0;
  align-self: center;
  color: var(--secondary-light)
}
.language-card-text {
  font-size: 1.4em;
  grid-row: 2/3;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  #languages-div {
    width: 100%;
  }
  .languages-headline-div {
    width: 70%;
  }
  #about-skills-div {
    width: 100%;
  }
  #projects-button {
    width: 100%;
  }

  #languages-list {
    justify-content: space-between;
    width: 100%;
    justify-self: center;
    padding: 0;
    justify-content: space-around;
  }
  .languages-list-item {
    padding: 0;
  }
  #projects-button-div {
    width: 80%;
    height: 10vh;
  }
}
