/*
Dark Blue: #17252A

Lighter Blue: #2b7a78

Lightest Blue: #3AAFA9

whiteish: #DEF2F1

whiterish: #FeFFFF
*/

.home-container {
  display: grid;
}
.banner-container {
  display: grid;
  height: 90vh;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  box-shadow: 1px 1px 3px black;
}

#banner-image {
  height: 90vh;
  width: 100%;
  object-fit: cover;
  grid-row: 1/2;
  grid-column: 1/2;
}
#banner-text-div {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 1;
  display: grid;
  justify-items: center;
  margin-top: 2em;
}
.banner-text {
  color: #def2f1;
  text-shadow: 1px 1px 3px #000000;
  font-size: 2.5em;
}
#banner-link {
  border: none;
  background: #2b7a78;
  padding: 1em 2em;
  color: #def2f1;
  font-size: 2em;
  border-radius: 5px;
  text-shadow: 2px 2px 3px black;
  cursor: pointer;
  transition: 0.5s ease;
}
#banner-link:hover {
  background: #3aafa9;
  transition: 0.5s ease;
}
#down-chevron {
  font-size: 4em;
  animation-name: chevron-drop;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: 3;
}

@keyframes chevron-drop {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media only screen and (max-width: 768px) {
  #banner-text-div {
    padding: 0 1em;
  }
  #banner-link {
    padding: 0.7em 1.3em;
  }
  .banner-text {
    font-size: 2em;
  }
}

#scroll-title-div {
  margin-top: 2em;
  justify-self: center;
  background: #def2f1;
  width: 95%;
  display: grid;
  border-radius: 8px;
  box-shadow: 1px 1px 3px black;
}

#scroll-title {
  justify-self: center;
  align-self: center;
  padding: 1.5em 1em;
}

.scroll-container {
  display: grid;
  width: 95%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  padding: 2em 0;
  grid-gap: 1%;
}

@media only screen and (max-width: 768px) {
  .scroll-container {
    grid-template-columns: 1fr;
  }
}

