#contact-container {
    display: grid;
    background-color: #000000;
    background-image: url("../mainbg.svg");
    background-attachment: fixed;
    background-size: cover;
}
.contacts-div {
    display: grid;
    width: 95%;
    justify-self: center;
    margin: 2em 0 2em 0;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto auto auto auto;
    border-radius: 15px;
}
#contact-line-1 {
    grid-row: 2/3;
    grid-column: 1/4;
    width: 100%;
    height: 0px;
    border-color: var(--main-4);
}
#contact-line-2 {
    grid-row: 4/5;
    grid-column: 1/4;
    width: 100%;
    height: 0px;
    border-color: var(--main-4);
}
#contact-linkedin{
grid-row: 1/2;
grid-column: 1/4;
width: 100%;
height: 100%;
display: grid;
justify-content: center;
padding: 0 2rem;
}
#contact-github {
    grid-row: 3/4;
    grid-column: 1/4;
    width: 100%;
    height: 100%;
    display: grid;
}
#contact-email{
    grid-row: 5/6;
    grid-column: 1/4;
    height: 100%;
    display: grid;
    justify-content: center;
    padding: 0 2rem;
}

.contact-link {
    justify-self: center;
    align-self: center;
    color: var(--main-4);
    text-decoration: none;
    padding: 1em;
    transition: 0.5s ease;


}
.contact-link:hover {
    transform: translateY(-10px) translateX(-10px) scale(1.05);
    background-color: var(--highlight-main);
    transition: 0.5s ease;
    color: white;
}
.contact-link:hover .contact-page-icon {
    color: white;
    transition: 0.5s ease;
}
.contact-page-icon {
    color: var(--highlight-main);
    font-size: 2em;
    transform: translateY(0.3em);
    transition: 0.5s ease;
}


@media only screen and (max-width: 768px) {
    .contacts-div {
        grid-template-columns: auto;
    }
    #contact-linkedin {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 90%;
        justify-self: center;
    }
    #contact-github {
        grid-column: 1/2;
        grid-row: 3/4;
        transition: 0.5s ease;
        width: 90%;
        justify-self: center;
    }
    #contact-email {
        grid-column: 1/2;
        grid-row: 5/6;
        width: 90%;
        justify-self: center;
    }
    
    #contact-line-1 {
        grid-row: 2/3;
    }
    #contact-line-2 {
        grid-row: 4/5;
    }
}