/*
Dark Blue: #17252A

Lighter Blue: #2b7a78

Lightest Blue: #3AAFA9

Shadow of Dark Blue: #DEF2F1

Shadow of Light Blue: #FeFFFF
*/

.projects-container {
  display: grid;
}
.projects-container .react-reveal {
  justify-self: center;
}
.projects-title-div {
  display: grid;
  height: auto;
  background: var(--main-3);
  margin: 2em 0;
  width: 95%;
  border-radius: 10px;
  justify-self: center;
  justify-content: center;
  color: var(--secondary-light);
  text-shadow: 1px 1px 1px black;
  box-shadow: 1px 1px 3px black;
}
.projects-title {
  justify-self: center;
  align-self: center;
  color: var(--highlight-main);
}
.projects-subtitle {
  padding: 0 1em;
}
.projects-div {
  display: grid;
}

/* ################## PROJECT CAROUSEL STYLES #################### */
.carousel-div {
  background: var(--main-3);
  margin: 2em 0;
  width: 94vw;
  justify-self: center;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
  color: var(--secondary-light);
}
.carousel-box {
  display: grid;
  justify-self: center;
}
.carousel-title-box {
  display: grid;
  justify-items: center;
}
.carousel-title {
  justify-self: center;
  padding: 0 1em;
  color: var(--highlight-main);
  text-shadow: 1px 1px 1px black;
}
.carousel-description {
  justify-self: center;
  padding: 0 1em;
}
.carousel-container {
  padding: 2em 0 2em 2.5%;
}

.carousel-item {
  border: none;
  border-radius: 50px;
}
