/*
Dark Blue: #17252A

Lighter Blue: #2b7a78

Lightest Blue: #3AAFA9

Shadow of Dark Blue: #DEF2F1

Shadow of Light Blue: #FeFFFF
*/

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #17252a;
  height: 10vh;
  position: fixed;
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding-right: 2em;
  transition: 0.5s ease;
}

.nav-link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  align-self: center;
  padding: 0.67em 1em;
  font-size: 1.5em;
  transition: 0.5s ease;
}
.nav-link:hover {
  background-color: #2b7a78;
}

#logo-div {
  display: grid;
  height: 10vh;
  grid-column: 1/6;
  color: #c2e3fd;
}
#logo-text {
  align-self: center;
  margin: 0;
  padding-left: 1em;
}
#logo-link {
  text-decoration: none;
  color: #c2e3fd;
}

@media only screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
  #logo-div {
    grid-column: 1/12;
  }
  #logo-text {
    padding-left: 0.5em;
  }
}

@media only screen and (max-width: 950px) {
  .nav-link {
    font-size: 1.2em;
    transition: 0.5s ease;
    padding: 1em;
  }
  .nav-list {
    padding-right: 0.9em;
    transition: 0.5s ease;
  }
}
