/*
Dark Blue: #17252A

Lighter Blue: #2b7a78

Lightest Blue: #3AAFA9

Shadow of Dark Blue: #DEF2F1

Shadow of Light Blue: #FeFFFF
*/

.nav-container {
  display: grid;
  grid-template-columns: 2fr 1fr 4fr;
  grid-template-areas: "logo space nav";
  justify-self: right;
  background: #17252a;
  height: 10vh;
  position: fixed;
  width: 100%;
}

.nav-list {
  list-style: none;
  grid-area: nav;
}

.nav-link {
  text-decoration: none;
  color: white;
}

/*######################################## BURGER MENU #####################################*/

#burger-menu {
  display: none;
}

.bm-burger-bars {
  background-color: #c2e3fd;
}
.bm-burger-button {
  position: fixed;
  width: 6vh;
  height: 6vh;
  margin-left: 85%;
  margin-top: 2vh;
  padding: 0;
}
.bm-cross {
  background-color: #9eb8cc;
}
.bm-cross-button {
  position: static;
}
.bm-menu {
  background: #203647;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  box-shadow: -1px -3px 3px black;
}
.menu-item {
  color: #9eb8cc;
  font-family: "Karla", sans-serif;
}

@media only screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
}
